@import '@/styles/vars';

.cart {
  background-color: white;
  top: 0;
  right: 0;
  position: fixed;
  height: 100%;
  transition: width 0.5s;
  z-index: 2000;
  box-shadow: -2px 0px 4px 0px #00000010;
  display: flex;
  flex-direction: column;
}
/* Header section */
.header {
  padding: 1rem;
  height: 65px;
  border-bottom: 1px solid $light-grey;
  z-index: 2001;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cartSideTitle {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 500;
  color: black;
}
.close {
  color: $brand;
  cursor: pointer;
  padding: 0rem;
  background-color: $lightest-brand;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  text-align: center;
  line-height: 2;
  box-shadow: 1px 1px 2px 0 $light-grey;
  &:hover {
    background-color: $light-brand;
  }
}
/* Items section */
.itemsWrapper {
  height: 100%;
  overflow-y: auto;
  padding: 1rem;
}
/* Footer Checkout etc section */
.footer {
  border-top: 1px solid $light-brand;
  background-color: $lightest-brand;
  padding: 1rem;
}
.finalPriceDetails {
  padding: 0 0 1rem 0;
  border-bottom: 1px solid $light-grey;
  display: flex;
  flex-flow: row wrap;
}
.finalSubtotalLabel {
  width: 50%;
  text-transform: capitalize;
  padding-bottom: 0.5rem;
}
.finalSubtotal {
  width: 50%;
  text-align: right;
  padding-bottom: 0.5rem;
}
.finalTotalLabel {
  width: 50%;
  text-transform: capitalize;
  font-weight: 900;
}
.finalTotal {
  width: 50%;
  font-weight: 900;
  text-align: right;
}
.goToCartBtn {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: 2px solid $brand;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 900;
  background-color: white;
}
.goToCartBtnLink {
  color: $brand;
  &:hover {
    color: $brand;
  }
}
.checkOutBtn {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: 2px solid $brand;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 900;
  background-color: $brand;
}
.checkOutBtnLink {
  color: white;
  &:hover {
    color: white;
  }
}
/* Overlay */
.overlay {
  background-color: rgba(204, 204, 204, 0.7);
  z-index: 1999;
  top: 0;
  right: 0;
  position: fixed;
  height: 100%;
}

/* CartSideBarItem styles */
.itemWrapper {
  padding: 1rem 0;
  border-bottom: 1px solid $light-grey;
  display: flex;
}
.imgAndDelete {
  flex: 1;
}
.details {
  flex: 2;
}

/* Increment + Decrement Quantity */
.alterQuantity {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2rem 0;
  padding: 0.2rem 0;
  border: solid 2px $grey;
  width: 60%;
  position: relative;
}
.alterQuantityLabel {
  position: absolute;
  top: -10px;
  left: 10px;
  padding: 0 2px;
  background-color: white;
  font-size: 0.7rem;
  color: black;
}
.changeQuantityBtn {
  background-color: white;
  border: none;
  font-size: 1.5rem;
}
