@import '@/styles/vars';
.bagDiv {
  position: relative;
  cursor: pointer;
}
.bagNumItems {
  position: absolute;
  color: white;
  background-color: black;
  top: 12px;
  left: 16px;
  padding: 2px 5px;
  font-size: 0.6rem;
  border-radius: 50%;
}

.bagSvg {
  height: 2rem;
  width: 2rem;
  margin: 0 0.5rem;
}
